*{
    margin: 0;
}

header{
    height: 90px;
    background: #000;
    position:fixed;
    z-index: 11111;
    width: 100%;
}
.inner-width{
    height: 100%;
    max-width: 1000px;
    padding: 0 10px;
    
}
.logo{
    float: left;
    padding-left:0;
}
.logo img{
    height: 90px;
    border: 0;
    align-items:flex-start;
}
.navigation-menu{
    float: right;
    display: flex;
    align-items:center;
    min-height: 90px;
    padding-right: 0;
    text-align: center;
} 
.navigation-menu a{
    margin: 10px;
    color: #D4EAFE;
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px 20px;
    
    border-radius: 4px;
    transition: .3s linear;
}
.navigation-menu a:hover{
    background:#D4EAFE;
    color:#2f3640;
    transform: scale(1.1);
}
.navigation-menu i{
    margin-right: 8px;
    font-size: 16px;
}
header .home{
    color: #960808;
}
header .about{
    color: #d30db2;
}
header .works{
    color: #e9ff6b;
}
header .gallery{
    color: #b10606;
}
header .contact{
    color: #7cff6b;
}
.menu-toggle-btn{
    float: right;
    height: 90px;
    line-height: 90px !important;
    color:#fff;
    font-size: 26px;
    display: none !important;
    cursor: pointer;
}
@media screen and (max-width:1024px) {
    .menu-toggle-btn{
        display: block !important;
    }
    .navigation-menu{
        position: fixed;
        width: 100%;
        max-width: 400px;
        background: #172b4d;
        top: 90px;
        right: 0;
        display:none;
        padding: 20px 40px;
        box-sizing: border-box;
    }
    .navigation-menu::before{
        content: '';
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #172b4d;
        position: absolute;
        top: -10px;
        right: 10px;
    }
    .navigation-menu a{
        display:block;
        margin: 10px 0;
    }
    .navigation-menu.active{
        display:block ;
        z-index: 20000;
    }
}
   